@import '../../../theme.scss';

.subCategoryItem {
    align-content: flex-start;
    height: calc(100vh - 130px);
    overflow: auto;

    .subCategoryName {
        margin-bottom: 15px;

        .subCategoryInner {
            background: $SubCategoryTileBG;
            min-height: $subCategoryTileHeight;
            box-shadow: 1px 0 3px rgba(0,0,0,0.1525);
            font-size: 0.85rem;
            justify-content: center;
            border-radius: 10px;
            align-items: center;
            position: relative;
            overflow: hidden;

            .subCategoryValue {
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                margin-bottom: 5px;

                p {
                    margin: 8px 0;

                    &.valuePrice {
                        color: #6f4f00;
                    }
                }
            }

            .subCategoryMenu {
                justify-content: space-around;

                .btn {
                    padding: 5px;
                    font-size: 0.7rem;
                    width: 100%;
                    background-color: $btnPrimaryColor;
                    border-color: $btnPrimaryBorderColor;

                    &:focus {
                        box-shadow: none;
                    }
                }
                    
                .runningOrder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableOrder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableNC {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableBill {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
   }

}