@import '../../../theme.scss';

.tableviewContainer {
    
   .tableName {
        margin-bottom: 10px;

        .tableNameInner {
            display: flex;
            background: #fff9eb;
            justify-content: center;
            min-height: 70px;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 1px 0 3px rgba(0,0,0,0.1525);
            align-items: center;
            position: relative;

            .tableNameValue {
                color: inherit;
            }

            .tableStatus {
                width: 100%;
                background-color: rgba(48, 224, 102, 0.8);
                height: 5px;
                position: absolute;
                top: 0;
            }
        }
   }
     
}