@import '../theme.scss';

.search-form {
    margin-left: auto;
    padding-right: 0;
    margin-bottom: 20px;

    input {
        height: 50px;
        border-radius: 0px 0 50px 10px;
        border-color: #ececec;
        box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
        font-weight: 400;
        
        &:focus {
            outline: none;
            box-shadow: 0px 5px 8px rgba(254, 220, 136, 0.25);
            border-color: #ececec;
        }
    }
}