@import '../../../../theme.scss';

.tableviewContainer {
    height: calc(100vh - 50px);
    flex-wrap: nowrap;
    overflow: auto;
    
   .tableName {
        margin: 15px 0;
        
        .tableNameInner {
            display: block;
            background: $tableTileBG;
            justify-content: center;
            min-height: $tableTileHeight;
            border-radius: 0;
            box-shadow: $tileBoxShadow;
            padding: 10px;
            font-size: 0.75rem;
            align-items: center;
            position: relative;
            color: inherit;
    
            &:hover {
                text-decoration: none;
            }
            
            .tableHeader {
                margin-bottom: 15px;

                .tableInnerName {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableValue {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: right;
                }
            }

            .tableNameValue {
                margin-bottom: 15px;

                .guestName {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: inherit;

                    &:hover {
                        text-decoration: none;
                    }
                }
                .paxName {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: right;
                    color: inherit;

                    &:hover {
                        text-decoration: none;
                    }
                }

            }

            .tableMenu {
                justify-content: space-around;

                .btn {
                    padding: 5px;
                    font-size: 0.7rem;
                    width: 100%;
                    background-color: $btnPrimaryColor;
                    border-color: $btnPrimaryBorderColor;

                    &:focus {
                        box-shadow: none;
                    }
                }
                    
                .runningOrder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableOrder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableNC {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tableBill {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
     
}