@import '../../../theme.scss';

.categoryItem {
    flex-direction: column;
    height: calc(100vh - 130px);
    flex-wrap: nowrap;
    overflow: auto;

    .categoryName {
        margin-bottom: 15px;

        .categoryInner {
            display: flex;
            background: $CategoryTileBG;
            justify-content: center;
            min-height: $categoryTileHeight;
            border-radius: 10px;
            box-shadow: 1px 0 3px rgba(0,0,0,0.1525);
            align-items: center;
            position: relative;

            .categoryValue {
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 600;
                text-align: center;
            }

            .categoryStatus {
                width: 100%;
                background-color: rgba(48, 224, 102, 0.8);
                height: 5px;
                position: absolute;
                top: 0;
            }
        }
   }

}