@import "./theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #464646;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 5px;
  font-size: 0.87rem;
  background-color: $btnPrimaryColor;
  border-color: $btnPrimaryBorderColor;

  &:hover {
    background-color: $btnPrimaryColor;
    border-color: $btnPrimaryBorderColor;
  }

  &:focus, &:active {
    background-color: $btnPrimaryColor;
    border-color: $btnPrimaryBorderColor;
    box-shadow: 0 0 0 0.2rem rgba(171, 126, 15, 0.5);
  }

}

.modal-header {
  padding: 10px;
  background-color: #f7ebd0;
  
  .modal-title {
    font-size: 1rem;
    text-transform: uppercase;
  }

}

.table {
  margin-bottom: 0px;
  font-size: 0.85rem;
  
  th {
    background-color: #f5f5f5;
  }
}