$tableTileBG :#f7ebd0;
$CategoryTileBG :#f7ebd0;
$SubCategoryTileBG :#f7ebd0;

$tileBoxShadow: 1px 0 3px rgba(0,0,0,0.1525);

$tableTileHeight: 125px;
$categoryTileHeight: 75px;
$subCategoryTileHeight: 110px;

$btnPrimaryColor:  #ab7e0f;
$btnPrimaryBorderColor:  #c3a558;
